<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.twig' %}
</head>
<body>
{% include 'nav_include.twig' %}

<div class="container-fluid">

    <div class="row bg-image-container">
        <div class="bg-image">
            <div class="title-container">
                <h1 class="title" {% if editing is defined %} id="adventureTitle" contenteditable="true" role="textbox"
                    placeholder="Enter a title" {% endif %}>{{ adventure.Title }}</h1>
                <h3 class="author">By: <a class="adventure-link" href="author.php?username={{adventure.Username}}">{{ adventure.Username }}</a></h3>
            </div>
        </div>
    </div>
    </div>

    <div class="row adventure-container">
        <!--@formatter:off--> <!-- ENSURE THIS ROW IS FORMATTED IN ONE LONG LINE-->
        <article class="col-sm-12 adventure"{% if editing is defined %} id="adventureContent" contenteditable="true"  role="textbox" placeholder="Start typing here to begin your adventure.." {% endif %}>{{ adventure.Content|raw }}</article>
         <!--@formatter:on-->
    </div>
<div class="row image-container-container">
    <div class="image-container">
        {% if editing is defined %}
            <div class="form-group">
                <label>Select/Drag and drop pictures</label>
                <input type="file" id="adventurePictures" class="form-control" name="files[]" multiple value=""
                       accept="image/*"/>
            </div>
        {% endif %}
        <div class="container">
            {% if editing is defined %}
            <ul class="row" id="previewEdit">

            </ul>
            {% endif %}
            <ul class="row" id="preview">

            </ul>
        </div>
    </div>
</div>

    {% include 'modal.twig' %}

    {% if editing is empty %}
    {% include 'comment.twig' %}
    {% endif %}
</div>

{% include 'script_include.twig' %}
<script>var PostID = '{{ postID }}';</script>
{% if editing is empty %}
<script>loadComments(PostID,'{{ loggedIn.username }}',{{ loggedIn.user_group }},{{ canEdit }})</script>
{% endif %}
{% if editing is defined %}
    <script>
        $("#preview li img").load(function(){
            alert('Images loaded');
        });
    </script>
{% endif %}
</body>
</html>