<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.twig' %}
</head>
<body>
{% include 'nav_include.twig' %}

<div class="container-fluid">

    <div class="row bg-image-container">
        <div class="bg-image">
            <div class="title-container">
                <h1 class="title" {% if editing is defined %} id="adventureTitle" contenteditable="true" role="textbox"
                    placeholder="Enter a title" {% endif %}>{{ adventure.Title }}</h1>
                <h3 class="author">By: <a class="adventure-link" href="author.php?username={{adventure.Username}}">{{ adventure.Username }}</a></h3>
            </div>
        </div>
    </div>
    </div>

    <div class="row adventure-container">
        <!--@formatter:off--> <!-- ENSURE THIS ROW IS FORMATTED IN ONE LONG LINE-->
        <article class="col-sm-12 adventure"{% if editing is defined %} id="adventureContent" contenteditable="true"  role="textbox" placeholder="Start typing here to begin your adventure.." {% endif %}>{{ adventure.Content|raw }}</article>
         <!--@formatter:on-->
    </div>
<div class="row image-container-container">
    <div class="image-container center-block">
            {% if editing is defined %}
                <div class="form-group">
                    <label>Select/Drag and drop pictures</label>
                    <input type="file" id="adventurePictures" class="form-control" name="files[]" multiple value=""
                           accept="image/*"/>
                </div>
            {% endif %}
        <div>
            {% if editing is defined %}
                <ul class="row" id="previewEdit">

                </ul>
                <ul class="row" id="previewRemove">

                </ul>
            {% else %}
                <ul class="row" id="preview">

                </ul>
            {% endif %}
        </div>
        </div>
</div>
<div class="row adventure-footer-container">
    <div class="adventure-footer">
        <p>{{ adventure.Upvotes }}<i class="pe-7s-like"></i></p>

        <p>{{ adventure.CommentCount }}<i class="pe-7s-note"></i></p>
        {#<ul>#}
        {#{% for keyword in adventure.Keyword %}#}
        {#<li>{{ keyword }}</li>#}
        {#{% endfor %}#}
        {#</ul>#}
        <h5>{{ adventure.City }}{% if (adventure.City != "" and adventure.Country != "") %}, {% endif %}{{ adventure.Country }}</h5>
        <a href="/author.php?username={{ adventure.Username }}"><h4>{{ adventure.Username }}</h4></a>
        </div>
    </div>
    {% if editing is empty %}
        {% include 'comment.twig' %}
        {% include 'modal.twig' %}
    {% endif %}
</div>

{% if editing is defined %}
    <!-- Keyword Modal -->
    <div class="modal fade" id="keywordModal" tabindex="-1" role="dialog" aria-labelledby="keywords">
        <div class="modal-dialog" role="document">
            <div class="keyword-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <label for="keywords">Keywords</label><input type="text" name="keywords" id="keywordsInput">
                <label for="city">City</label><input type="text" name="city" id="cityInput"
                                                     value="{{ adventure.City }}">
                <label for="country">Country</label><input type="text" name="country" id="countryInput"
                                                           value="{{ adventure.Country }}">
                <button id="keywordSubmit">Save</button>
            </div>
        </div>
    </div>
{% endif %}


{% include 'script_include.twig' %}
<script>var PostID = '{{ postID }}';</script>
<script src="../js/dragAndDrop.js"></script>
<script src="../js/getPictures.js"></script>
{% if editing is empty %}
<script>loadComments(PostID,'{{ loggedIn.username }}',{{ loggedIn.user_group }},{{ canEdit }})</script>
{% endif %}
</body>
</html>