<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.twig' %}
</head>
<body>
{% include 'nav_include.twig' %}

<div class="container-fluid author-container">

    <div class="row bg-image-container">
        <div class="bg-image">
            <div class="title-container author-page">
                <h1 class="title">
                    {% if user is not empty %}
                        {{ user.Username }}
                    {% else %}
                        Sorry!
                    {% endif %}
                </h1>

                <h3 class="author">aka {{ user.FirstName }} {{ user.LastName }} from {{ user.Country }}</h3>

            </div>
        </div>
    </div>

    <div class="author-subcontainer">
        {% if user is not empty %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="twitter" id="twitter">
                    </div>
                </div>
                {% if (user.UserType == 'author' or user.UserType == 'admin') %}
                <div class="col-sm-8">
                    <h2>Contributions:</h2>
                    <table class="table table-hover custab">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date Posted</th>
                            <th>Upvotes</th>
                            <th>City, Country</th>
                        </tr>
                        </thead>
                        {% if adventures is not empty %}
                        {% for adventure in adventures %}
                        <tr>
                            <td class="adventure-title-row"><a href="adventure.php?id={{ adventure.PostID }}">{{ adventure.Title }}</a></td>
                            <td class="adventure-date">{{ adventure.DatePosted }}</td>
                            <td>
                                <div class="adventure-upvotes-row">
                                    {{ adventure.Upvotes }}
                                </div>
                            </td>
                            <td>
                                {% if ((adventure.City is not empty) and (adventure.Country is not empty)) %}
                                    {{ adventure.City }}, {{ adventure.Country }}
                                {% else %}
                                    Not specified.
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                            <tr>
                                <td><h3>{{ user.FirstName }} has not added any adventures yet!</h3></td>
                            </tr>
                        {% endif %}
                    </table>
                    {% if adventures is not empty %}
                    <button id="view-map-button" class="btn btn-danger center-block">
                        <span class="glyphicon glyphicon-map-marker"></span> View map
                    </button>
                    <div id="map" class="center-block"></div>
                    {% endif %}
                </div>
                {% else %}
                    <div class="col-sm-8"><h3>Sorry! {{ user.FirstName }} is a loser and doesn't have permission to
                            create adventures!</h3></div>
                {% endif %}
            </div>
        {% else %}
            <div id="not-found-container">
                <h2>No author was found by this username.</h2>
                <br>
                <!--ONLY MAKING THIS ROW Bootstrap BS FOR THE GREAT PURPOSE-->
                <div class="row">
                    <div class="col-sm-4 return-to-main-page">
                        <h3><a href="index.php">Return to main page</a></h3>
                    </div>
                    <!--AN ABSOLUTE MUST HAVE ON ANY 404 PAGE OR SIMILAR -- DO NOT DELETE IN ANY CIRCUMSTANCES-->
                    <div class="col-sm-8">
                        <img src="http://i258.photobucket.com/albums/hh253/jimifunguzz/cat%20gifs/cat-sad-cat.gif" class="img-thumbnail">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

</div>

{% include 'script_include.twig' %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYJpoSa9lV98hqJIOmBL_3VrIeAl7yoOc&signed_in=true&callback=initMapAndAddMarkers"></script>
<script>
    function initMapAndAddMarkers(){
        //Initialize map
        initMap();

        //Add markers
        addMarkers({{ adventuresJson|raw }});

        //Scroll to top to prevent weird behaviours
        $(window).on('beforeunload', function() {
            $(window).scrollTop(0);
        });
    }
</script>
<script src="../js/googleMaps.js"></script>
{% if user.Twitter is not empty %}
    <script>
        //Twitter API
        window.onload = function () {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var tweets = JSON.parse(xhttp.responseText);
                    var tweetString = '';

                    if (tweets.length > 0) {
                        $('#twitter').append('<img src="' + tweets[0].image + '">');
                        $('#twitter').append('<a href="https://twitter.com/"+ tweets[0].username >@' + tweets[0].username + '</a>');
                        $('#twitter').append('<ul class="twitter-feed" id="twitter-feed"></ul>');
                        for (var i = 0; i < tweets.length; i++) {
                            tweetString += "<li>" + tweets[i].text + "</li>";
                        }
                        document.getElementById("twitter-feed").innerHTML = tweetString;
                    } else {

                    }
                }
            };
            xhttp.open("GET", "http://onenodeapp.azurewebsites.net?q={{ user.Twitter }}", true);
            xhttp.send();
        }
    </script>
{% endif %}
</body>
</html>