<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.twig' %}
</head>
<body>
{% include 'nav_include.twig' %}

<div class="container-fluid author-container">

    <div class="row bg-image-container">
        <div class="bg-image">
            <div class="title-container author-page">
                <h1 class="title">
                    {% if user is not empty %}
                        Author {{ user.Username }}
                    {% else %}
                        Sorry!
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>

    <div class="author-subcontainer">
        {% if user is not empty %}
            <div class="row">
                <div class="col-sm-4">
                    <h3>First name: {{ user.FirstName }}</h3>
                    <h3>Last name: {{ user.LastName }}</h3>
                    <p>Country: {{ user.Country }}</p>
                    <br>
                    <br>
                </div>

                <div class="col-sm-8">
                    <h2>Contributions:</h2>
                    <table class="table table-hover custab">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date Posted</th>
                            <th>Upvotes</th>
                            <th>City, Country</th>
                        </tr>
                        </thead>
                        {% for adventure in adventures %}
                        <tr>
                            <td class="adventure-title-row"><a href="adventure.php?id={{ adventure.PostID }}">{{ adventure.Title }}</a></td>
                            <td class="adventure-date">{{ adventure.DatePosted }}</td>
                            <td>
                                <div class="adventure-upvotes-row">
                                    {{ adventure.Upvotes }}
                                </div>
                            </td>
                            <td>
                                {% if ((adventure.City is not empty) and (adventure.Country is not empty)) %}
                                    {{ adventure.City }}, {{ adventure.Country }}
                                {% else %}
                                    Not specified.
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <button id="view-map-button" class="btn btn-danger center-block">
                        <span class="glyphicon glyphicon-map-marker"></span> View map
                    </button>
                    <div id="map" class="center-block"></div>
                </div>
            </div>
        {% else %}
            <div id="not-found-container">
                <h2>No author was found by this username.</h2>
                <br>
                <!--ONLY MAKING THIS ROW Bootstrap BS FOR THE GREAT PURPOSE-->
                <div class="row">
                    <div class="col-sm-4 return-to-main-page">
                        <h3><a href="index.php">Return to main page</a></h3>
                    </div>
                    <!--AN ABSOLUTE MUST HAVE ON ANY 404 PAGE OR SIMILAR -- DO NOT DELETE IN ANY CIRCUMSTANCES-->
                    <div class="col-sm-8">
                        <img src="http://i258.photobucket.com/albums/hh253/jimifunguzz/cat%20gifs/cat-sad-cat.gif" class="img-thumbnail">
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

</div>

{% include 'script_include.twig' %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYJpoSa9lV98hqJIOmBL_3VrIeAl7yoOc&signed_in=true&callback=initMapAndAddMarkers"></script>
<script>
    function initMapAndAddMarkers(){
        //Initialize map
        initMap();

        //Add markers
        addMarkers({{ adventuresJson|raw }});

        //Scroll to top to prevent weird behaviours
        $(window).on('beforeunload', function() {
            $(window).scrollTop(0);
        });
    }
</script>
<script src="../js/googleMaps.js"></script>

</body>
</html>