<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_include.twig' %}
</head>
<body>
{% include 'nav_include.twig' %}

<div class="container-fluid">

    <div class="row bg-image-container">
        <div class="bg-image">
            <div class="title-container">
                {% if query is not empty %}
                    <h1 class="title">Search Results</h1>
                {% else %}
                    <h1 class="title">Sorry! Wrong query provided</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="search-result-container first-container">
        <div class="adventure-results-container">
            {% if adventures is empty %}
            <h2 class="lead"><strong class="text-danger">No</strong> Adventures were found for the search for <strong
                    class="text-danger">{{ query }}</strong>. Please try again.</h2>
            {% else %}
            <h2 class="lead"><strong class="text-danger">{{ adventures|length }}</strong>
                {% if adventures|length > 1 %}
                    Adventures were
                {% else %}
                    Adventure was
                {% endif %}
                found for the search for <strong class="text-danger">{{ query }}</strong></h2>
                <button class="btn btn-primary" id="filter-by-likes-button">Filter by Likes</button>
                <button class="btn btn-primary" id="show-all-authors-button">Show all authors</button>
            {% endif %}
        </div>

        <section class="col-xs-12 col-sm-12 col-md-12 first-section-container">
            {% for adventure in adventures %}
            <article class="search-result row">
                <div class="col-xs-12 col-sm-2 col-md-2 search-result-image">
                    <a href="adventure.php?id={{ adventure.PostID }}" title="{{ adventure.Title }}" class="thumbnail search-result-thumbnail">
                        <img class="search-result-adventure-image" src="{{ adventure.Path }}" alt="Lorem ipsum"/></a>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 search-result-info">
                    <ul class="meta-search">
                        <a href="author.php?username={{ adventure.Username }}"><li><i class="glyphicon glyphicon-user"></i><span> {{ adventure.Username }}</span></li></a>
                        <li><i class="glyphicon glyphicon-globe"></i>
                            <span>
                                {% if (adventure.Country is not empty) %}
                                    {{ adventure.Country }}
                                {% else %}
                                    Not specified
                                {% endif %}
                            </span>
                        </li>
                        <li><i class="glyphicon glyphicon-heart"></i><span> {{ adventure.Upvotes }}</span></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 title-content">
                    <h3><a href="adventure.php?id={{ adventure.PostID }}" title="">{{ adventure.Title }}</a></h3>
                    <p class="block-with-text">{{ adventure.Content }}</p>
                    <div class="search-result-read-more"><span class="plus">Read more <a href="adventure.php?id={{ adventure.PostID }}" title="Read more"><i class="glyphicon glyphicon-plus"></i></a></span></div>
                </div>
                <span class="clearfix borda"></span>
            </article>
            {% endfor %}
        </section>
    </div>

    <div id="search-result-separator">
        <hr width="90%">
    </div>

    <div class="search-result-container">
        <div class="author-results-container">
            {% if authors is empty %}
            <h2 class="lead"><strong class="text-danger">No</strong> Authors were found for the search for <strong
                    class="text-danger">{{ query }}</strong>. Please try again.</h2>
            {% else %}
            <h2 class="lead">
                <strong class="text-danger">{{ authors|length }}</strong>
                {% if authors|length > 1 %}
                    Authors were
                {% else %}
                    Author was
                {% endif %}
                found for the search for
                <strong class="text-danger">{{ query }}</strong></h2>
            {% endif %}
        </div>

        <section class="col-xs-12 col-sm-12 col-md-12">
            {% for author in authors %}
            <article class="search-result row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <a href="author.php?username={{ author.Username }}" title="{{ author.Username }}" class="thumbnail"><img src="http://s2.postimg.org/mr1ey5kcp/32_default_facebook_profile_picture_fingers_funn.png"
                                                                                    width="250" height="250" alt="Lorem ipsum"/></a>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text">
                    <h3><a href="author.php?username={{ author.Username }}" title="">{{ author.FirstName ~ " " ~ author.LastName}}</a></h3>
                    <span class="plus">Read more <a href="author.php?username={{ author.Username }}" title="Read more"><i class="glyphicon glyphicon-plus"></i></a></span>
                </div>
                <span class="clearfix borda"></span>
            </article>
            {% endfor %}
        </section>
    </div>

</div>

{% include 'script_include.twig' %}
<script>var searchQuery = '{{ query }}'</script>
</body>
</html>